  <div class="container-fullwidth">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">Garnett</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.baseurl }}/docs/">Documentation</a></li>
          <li><a href="{{ site.baseurl }}/docs_m3/">Documentation for Monocle 3</a></li>
          <li><a href="{{ site.baseurl }}/papers/">Publications</a></li>
          <li><a href="{{ site.baseurl }}/classifiers/">Pre-trained Classifiers</a></li>
          <li><a href="https://github.com/cole-trapnell-lab/garnett">GitHub</a></li>
          <li><a href="https://cole-trapnell-lab.shinyapps.io/garnett_web/">Interactive</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>

</header>
